---
import {SOINS} from '../contenu.ts'
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro'
const title = 'Les soins'
---
<BaseLayout content={{title}}>

<!-- Three Boxes -->
    <div class="album py-5 bg-light">
      <div>
        <div class="row row-cols-1 row-cols-md-3 m-3">
          <div class="col mb-2">
            <div class="card shadow-sm">
              <img src={SOINS.voyage.photo} class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">{SOINS.voyage.titre}</p>
                <p class="card-text">{SOINS.voyage.description}</p>
                <p class="card-text">{SOINS.voyage.prix}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href={SOINS.voyage.lien} class="btn btn-sm btn-outline-secondary" role="button">En savoir plus...</a>
                  </div>
                  <div class="btn-group">
                    <a href="http://calendly.com/aucoeurdessons" class="btn btn-sm btn-outline-secondary" role="button">Prendre rendez-vous</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="card shadow-sm">
              <img src={SOINS.table.photo} class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">{SOINS.table.titre}</p>
                <p class="card-text">{SOINS.table.description}</p>
                <p class="card-text">{SOINS.table.prix}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href={SOINS.table.lien} class="btn btn-sm btn-outline-secondary" role="button">En savoir plus...</a>
                  </div>
                  <div class="btn-group">
                    <a href="http://calendly.com/aucoeurdessons" class="btn btn-sm btn-outline-secondary" role="button">Prendre rendez-vous</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src={SOINS.jalaka.photo} class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">{SOINS.jalaka.titre}</p>
                <p class="card-text">{SOINS.jalaka.description}</p>
                <p class="card-text">{SOINS.jalaka.prix}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href={SOINS.jalaka.lien} class="btn btn-sm btn-outline-secondary" role="button">En savoir plus...</a>
                  </div>
                  <div class="btn-group">
                    <a href="http://calendly.com/aucoeurdessons" class="btn btn-sm btn-outline-secondary" role="button">Prendre rendez-vous</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 m-3">
          <div class="col mb-2">
            <div class="card shadow-sm">
              <img src={SOINS.vapakaia.photo} class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">{SOINS.vapakaia.titre}</p>
                <p class="card-text">{SOINS.vapakaia.description}</p>
                <p class="card-text">{SOINS.vapakaia.prix}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href={SOINS.vapakaia.lien} class="btn btn-sm btn-outline-secondary" role="button">En savoir plus...</a>
                  </div>
                  <div class="btn-group">
                    <a href="http://calendly.com/aucoeurdessons" class="btn btn-sm btn-outline-secondary" role="button">Prendre rendez-vous</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src={SOINS.ayuma.photo} class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">{SOINS.ayuma.titre}</p>
                <p class="card-text">{SOINS.ayuma.description}</p>
                <p class="card-text">{SOINS.ayuma.prix}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href={SOINS.ayuma.lien} class="btn btn-sm btn-outline-secondary" role="button">En savoir plus...</a>
                  </div>
                  <div class="btn-group">
                    <a href="http://calendly.com/aucoeurdessons" class="btn btn-sm btn-outline-secondary" role="button">Prendre rendez-vous</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img src="/assets/1920x1080-bol-batte-rouge.jpg" class="w-100 shadow-lg" alt="">

    <article class="shadow p-3 m-3 bg-light rounded-lg" id="voyage">
    <Markdown>

    <!-- Début du contenu à modifier -->

      ## Voyage sonore

      La personne est couchée sur un matelas. Bols chantants thérapeutiques, de cristal, mais aussi gong, handpan, tambour et koshis seront joués autour et, ou sur son corps habillé.

      Certaines personnes vont le vivre comme un voyage sonore relaxant. Pour d’autres, le corps se déstresse, s’harmonise et s’équilibre. Il en résulte parfois la libération de blocages, de douleurs ou de troubles. Avant tout, vous allez vivre un moment de profonde détente, puisque cette forme de thérapie enveloppe votre corps, votre âme et votre esprit dans un vrai cocon.

      ### Quelques bienfaits

      * Relaxation, détente musculaire et libération des émotions
      * aide le mental à lâcher prise
      * vertus antalgiques
      * augmentation des capacités de concentration
      * renforcement du système immunitaire
      * amélioration de l’humeur
      * harmonisation physique et psychologique
      * amélioration du sommeil et de la digestion
      * développement de la créativité
      * et bien d’autres vertus
      
      Au plaisir de vous faire vivre ce moment hors du temps.

      <!-- Fin du contenu à modifier -->

      </Markdown>
    </article>

    <article class="shadow p-3 m-3 bg-light rounded-lg" id="table">
      <h2>Table d'harmonie</h2>
      <p>Description du soin...</p>
    </article>

    <article class="shadow p-3 m-3 bg-light rounded-lg" id="jalaka">
      <h2>Jalaka</h2>
      <p>Description du soin...</p>
    </article>

    <article class="shadow p-3 m-3 bg-light rounded-lg" id="vapakaia">
      <h2>Vapakaia</h2>
      <p>Description du soin...</p>
    </article>

    <article class="shadow p-3 m-3 bg-light rounded-lg" id="ayuma">
    <Markdown>

    <!-- Début du contenu à modifier -->

      ## Ayuma

      Ce soin est composé de différentes appositions des mains qui sont extrêmement relaxantes et apaisantes, et sur chaque position, une intention particulière est émise.

      Après une purification, une jolie entrée toute en douceur, une harmonisation des centres d’énergie avec les bols et les différentes positions du toucher apaisant,  le praticien va travailler les lignes énergétiques avec un bol chantant thérapeutique.

      Pour terminer, vous recevrez également une eau sonore, qui va vous accompagner après votre séance.

      <!-- Fin du contenu à modifier -->

      </Markdown>
    </article>

    <article class="shadow p-3 m-3 bg-light rounded-lg" id="voyage">
      <h2>Paiement</h2>
      <p>Paiement en espèces ou <img src="/logos/twint.png" class="button"> ou <img src="/logos/revolut.png"
          class="button"></p>
    </article>

</BaseLayout>

